body{
    margin: auto;
    background-color:#03384a;
    width: 100%;
    height: 100%;
}

.nav_li{
    background-color: #fff;
}

.titulo_lunas{
    text-align: center;
    font-size: 60px;
    color: white;
}

.contenedor_lunas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lunas_img{
    width: 150px;
    height: 150px;
    border: gray solid 3px;
    border-radius: 20px;
}

.lunas_img:hover{
    background-color: gray;
}